
backend/proyect/dist/proyect.war
backend/proyect/.idea/workspace.xml
backend/proyect/.idea/misc.xml
backend/proyect/.idea/modules.xml
backend/proyect/build/
backend/app/target/
frontend/app/build/*
frontend/.idea/*
frontend/app/app.iml
frontend/frontend.iml
frontend/local.properties
